<div class="login">
  <div class="picture">
    <img src="assets/kitchen.png" alt="Kitchen background">
  </div>

  <div class="inner">
    <div class="login-page__form" [formGroup]="form">
      <h1>Welcome Back</h1>
      
      <nz-form-control
        [nzValidateStatus]="form.controls.username.touched && form.controls.username.errors ? 'error' : ''"
        nzErrorTip="Please enter a valid email address"
      >
        <input
          class="login-page__input"
          nz-input
          placeholder="Email address"
          formControlName="username"
          type="email"
        />
      </nz-form-control>
      
      <nz-form-control
        [nzValidateStatus]="form.controls.password.touched && form.controls.password.errors ? 'error' : ''"
        nzErrorTip="Please enter your password"
      >
        <input
          class="login-page__input"
          nz-input
          placeholder="Password"
          type="password"
          formControlName="password"
          (keyup.enter)="onLoginClick()"
        />
      </nz-form-control>

      <app-button
        text="Sign In"
        type="primary"
        size="large"
        [fullWidth]="true"
        [disabled]="!form.valid"
        (clicked)="onLoginClick()"
      ></app-button>
      
      <!-- Error and success messages -->
      <div *ngIf="error" class="message-container">
        <nz-alert nzType="error" [nzMessage]="message" nzShowIcon></nz-alert>
      </div>
      <div *ngIf="success" class="message-container">
        <nz-alert nzType="success" [nzMessage]="message" nzShowIcon></nz-alert>
      </div>
      
      <!-- Navigation links -->
      <div class="login-page__link">
        <p><a routerLink="/recovery">Forgot your password?</a></p>
        <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
        <p><a routerLink="/">Back to home</a></p>
      </div>
    </div>
  </div>
</div>
