<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <div class="footer-container">
    <!-- Левая колонка - контакты -->
    <div class="footer-col left">
      <div class="footer-section">
        <h4 class="footer-title">Contact Info</h4>
        <ul class="contact-list">
          <li>
            <i class="contact-icon" nz-icon nzType="environment" nzTheme="outline"></i>
            <span>Headquarters: Stralsund, Germany</span>
          </li>
          <li>
            <i class="contact-icon" nz-icon nzType="mail" nzTheme="outline"></i>
            <span>nemoshenkov.maxim@gmail.com</span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Центральная колонка - бренд и копирайт -->
    <div class="footer-col center">
      <div class="footer-section">
        <div class="brand-info">
          <a routerLink="/dishes" class="footer-brand">FreshApp</a>
          <p class="copyright">Copyright 2021 - All Rights Reserved</p>
        </div>
      </div>
    </div>

    <!-- Правая колонка - социальные сети -->
    <div class="footer-col right">
      <div class="footer-section">
        <h4 class="footer-title">Follow Us</h4>
        <div class="social-links">
          <a href="https://www.instagram.com/mnemoshenkov" class="social-link instagram">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/nemoshchenkov" class="social-link linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="https://www.facebook.com/maks.nemoshenkov" class="social-link facebook">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
